version: "3.8"
services:
  app:
    build: .
    container_name: secure-texting-app
    environment:
      - MASTER_KEY=QGpswHrFGjBfS3PNHxWIxYFVYRAZhKza
    ports:
      - "8000:8000"
    volumes:
      - ./app:/src/app
    restart: unless-stopped

  prometheus:
    image: prom/prometheus:latest
    container_name: prometheus
    volumes:
      - ./prometheus.yml:/etc/prometheus/prometheus.yml:ro
    ports:
      - "9090:9090"
    restart: unless-stopped

  nginx:
    image: nginx:stable
    container_name: secure-texting-nginx
    depends_on:
      - app
    volumes:
      - ./nginx.conf:/etc/nginx/conf.d/default.conf:ro
    ports:
      - "80:80"
    restart: unless-stopped
